# Operating System
.DS_Store
Thumbs.db

# Logs
*.log
logs/
npm-debug.log*

# Build
*.sql
*.zip
build/
coverage/
dist/

# Project
jspm_packages/
node_modules/
vendor/

# Composer
/tests/phpunit/build
bin/composer/**/vendor/
lib/vendor/
vendor/

# Sass
.sass-cache/

# Eslint Cache
.eslintcache

# NPM
.npm

# REPL
.node_repl_history

# node-waf
.lock-wscript

# Unit tests
tmp/

# Test Results
test-results.json

# Patches
*.diff
*.orig
*.patch
*.rej

# PHP lint
phpcs-report.xml
