# used to remove files from deployment using `git archive`

# git files
.gitattributes export-ignore
.gitignore export-ignore

# general text files
LICENSE export-ignore
README.md export-ignore

# src files
/src export-ignore

# node files
node_modules export-ignore
package.json export-ignore
package-lock.json export-ignore

# bower files
bower_components export-ignore
bower.json export-ignore

# gulp files
gulpfile.js export-ignore

# config files
.browserslistrc export-ignore
.editorconfig export-ignore
.jsbeautifyrc export-ignore

# composer files
composer.lock export-ignore
composer.json export-ignore

# MacOs files
.DS_Store export-ignore