# Operating System
.DS_Store
Thumbs.db

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build & Tests
*.sql
*.zip
build/
coverage/
dist/

# Dependencies
jspm_packages/
node_modules/

# Composer
/tests/phpunit/build
bin/composer/**/vendor/
lib/vendor/
vendor/

# Sass
.sass-cache/

# Eslint Cache
.eslintcache

# NPM
.npm

# REPL
.node_repl_history

# node-waf
.lock-wscript

# Unit tests
tmp/

# Test Results
test-results.json

# Patches
*.diff
*.orig
*.patch
*.rej

# PHP Lint
phpcs-report.xml
